*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;

}
.container .row{
    width: 85%;
    margin: auto;
        
}
.container .row .heading-section{
    /* width: 60%; */
    text-align: center;
    margin:auto;

}
.container .row .heading-section h1{
    padding-top: 30px;
    font-size: 42px;

}
.container .row .heading-section span{
    color: #ff0000;
}
.container .row .heading-section p{
    padding-top: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #3d3d3d;
    font-weight: 600;

}
.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.content-section .card{
    flex: 1;
    margin: 40px 20px;

}
.content-section .card img{
    width: 100%;
    height: auto;

}
.content-section .card h4{
    margin-top: 20px;

}
.content-section .card p{
    font-size: 15px;
    margin-top: 10px;
    color: #3d3d3d;
    line-height: 1.5;

}

@media  screen and (max-width:768px) {
    .content-section{
        flex-direction: column;
    }
    
}

